/*
    # Colors

    `core/_colors.scss`
*/

$color-black: #000000;
$color-background: #284d63;
$color-fontBold: #323232;
$color-fontRegular: #474747;
$color-fontLight: #fff;
$color-border: #f2f2f2;
$color-bottom-bg: #fbfbfb;
